[Unit]
Description=Plantuml docker service
After=docker.service
Requires=docker.service
Wants=syslog.service

[Service]
Restart=Always
ExecStart=/usr/bin/podman start -a {{ plantuml_container }} 
ExecStop=/usr/bin/podman stop --ignore {{ plantuml_container }}

[Install]
WantedBy=multi-user.target